{% extends 'layout.html' %}
{% block content %}
{{ for i in }}
<div class="content">
	<div class="row">
		<div class="col-md-6">
			<figure class="movie-poster"><img src="/static/dummy/single-image.jpg" alt="#"></figure>
		</div>
		<div class="col-md-6">
			<h2 class="movie-title">The Croods</h2>
			<ul class="movie-meta">
				<li><strong>Rating:</strong> 
					<div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
				</li>
				<li><strong>Length:</strong> 98 min</li>
				<li><strong>Premiere:</strong> 22 March 2013 (USA)</li>
				<li><strong>Category:</strong> Animation/Adventure/Comedy</li>
			</ul>

			<ul class="starring">
				<li><strong>Directors:</strong>{{ movieDirectors }}</li>
				<li><strong>Writers:</strong>{{ movieWriters }}</li>
				<li><strong>Stars:</strong>{{ movieStars }}</li>
			</ul>
		</div>
	</div> <!-- .row -->
	<div class="entry-content">
		<p>{{ movieDes }}</p>
	</div>
	</div>
{% endblock content %}