{% extends 'layout.html' %}
{% block content %}
	<div class="breadcrumbs">
		<a href="{{ url_for('home')}}">Home</a>
		<span>{{ title }}</span>
	</div>
	<div class="movie-list">
		{% for i in range(0, movieIndex) %}
		<div class="movie">
			<figure class="movie-poster"><img src="{{url_for('getImage', filename=moviePoster[i])}}" alt="#"></figure>
			<div class="movie-title"><a href="single.html">{{ movieTitle[i] }}</a></div>
			<p>{{ movieDesc[i] }}</p>
		</div>
		{% endfor %}
	</div> <!-- .movie-list -->
{% endblock content %}